
#container {
  margin: 0 auto;
  /* padding: 0 20px 10px 20px; */
  border-top: 0px solid #000000;
  border-left: 5px solid #8c8f91;
  border-right: 5px solid #8c8f91;
  border-bottom: 25px solid #8c8f91;
  background: #FFFFFF;
  background-image: url(#{request.contextPath}/resources/gfx/headerbkg.png);
  background-repeat: repeat-x;
  box-shadow: 3px 3px 15px #d5d5d5;
}

#content {
  float: left;
  display: flex;
  justify-content: center;
  /* padding-top: 30px; */
  /* margin-left: 30px; */
}
.dualbrand {
  float: right;
  padding-right: 10px;
}
#footer {
  clear: both;
  text-align: center;
  color: #666666;
  font-size: 0.85em;
}
code {
  font-size: 0.9em;
}
a {
  color: #4a5d75;
  text-decoration: none;
}
a:hover {
  color: #369;
  text-decoration: underline;
}
h1 {
  color:#243446;
  font-size: 1.25em;
}
h2 {
  font-size: 0.8em;
}
h3 {
  color:#243446;
}
h4 {
}
h5 {
}
h6 {
}
/* Member registration styles */
span.invalid {
  padding-left: 3px;
  color: red;
}

.ui-wizard-step-title{
	font-size: 12px !important;
    margin: 0 3px 0 0;
    padding: 0.4em;
    float: left;
}




/*  -----  table style  -------  */


/*  = Simple Table style (black header, grey/white stripes  */

.simpletablestyle {
  background-color:#E6E7E8;
  clear:both;
  width: 550px;
}

.imagemDeFundo{
    background-image: url(#{request.contextPath}/resources/gfx/onibusbkg5.jpg)  ;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.imagemDeFundoEscolar{
    background-image: url(#{request.contextPath}/resources/gfx/onibusescolar2.png)  ;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}




.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 31px !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
     padding: 0 3px; 
}

.simpletablestyle img {
  border:0px;
}

.simpletablestyle td {
  height:2em;
  padding-left: 6px;
  font-size:11px;
  padding:5px 5px;
}

.simpletablestyle th {
	background: url(#{request.contextPath}/resources/gfx/bkg-blkheader.png) black repeat-x top left;
  font-size:11px;
  font-weight:normal;
  padding:0 10px 0 5px;
  border-bottom:#999999 dotted 1px;
}

.simpletablestyle thead {
  background: url(#{request.contextPath}/resources/gfx/bkg-blkheader.png) black repeat-x top left;
  height:31px;
  font-size:10px;
  font-weight:bold;
  color:#FFFFFF;
  text-align:left;
}

.simpletablestyle .header a {
  color:#94aebd;
}

.simpletablestype tfoot {
	height: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #EAECEE;
  text-align: center;
}

.simpletablestyle tr.header td {
  padding: 0px 10px 0px 5px;
}


.simpletablestyle .subheader {
  background-color: #e6e7e8;
  font-size:10px;
  font-weight:bold;
  color:#000000;
  text-align:left;
}

/* Using new CSS3 selectors for styling*/
.simpletablestyle tr:nth-child(odd) {
  background: #f4f3f3;
}
.simpletablestyle tr:nth-child(even) {
  background: #ffffff;
}

.simpletablestyle td a:hover {
  color:#3883ce;
  text-decoration:none; 
}




/* CSS menu bar*/
.topnav2 {
	background-color: #ffffff;
	font-size: 0.85em;
}

.topnav2 a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 14px;
}

.topnav2 a:hover {
	background-color: #ddd;
	color: black;
}

.topnav2 a.active {
	background-color: #2196F3;
	color: white;
}

.topnav2 .login-container {
	float: right;
}

.topnav2 input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 14px;
	border: none;
	width: 120px;
}

.topnav2 .login-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background-color: #555;
	color: white;
	font-size: 14px;
	border: none;
	cursor: pointer;
}

.topnav2 .login-container button:hover {
	background-color: green;
}
