@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*#################################################################################################*/
.cont_main .ui-state-default [class^="ui-icon ui-icos-"], .cont_main .ui-state-default [class*="ui-icon ui-icos-"], .cont_main .ui-state-default [class="ui-icon ui-icos-"],
[class^="ui-icon ui-icos-"], [class*="ui-icon ui-icos-"], [class="ui-icon ui-icos-"]
{ background-image: url(../images/ui-icons_ffffff_256x272.png)!important; }

.ui-icos-abacus          { background-position: 0 0;}
.ui-icos-add             { background-position: -16px 0;}
.ui-icos-address-book    { background-position: -32px 0;}
.ui-icos-admin           { background-position: -48px 0;}
.ui-icos-admin2          { background-position: -64px 0;}
.ui-icos-airplane        { background-position: -80px 0;}
.ui-icos-alarm           { background-position: -96px 0;}
.ui-icos-alert           { background-position: -112px 0;}
.ui-icos-android         { background-position: -128px 0;}
.ui-icos-archive         { background-position: -144px 0;}
.ui-icos-arrowdown       { background-position: -160px 0;}
.ui-icos-arrowleft       { background-position: -176px 0;}
.ui-icos-arrowright      { background-position: -192px 0;}
.ui-icos-arrowup         { background-position: -208px 0;}
.ui-icos-bag             { background-position: -224px 0;}
.ui-icos-baloons         { background-position: -240px 0;}

.ui-icos-bandaid         { background-position: 0      -16px;}
.ui-icos-basket          { background-position: -16px  -16px;}
.ui-icos-basket2         { background-position: -32px  -16px;}
.ui-icos-battery         { background-position: -48px  -16px;}
.ui-icos-battery-full    { background-position: -64px  -16px;}
.ui-icos-bell            { background-position: -80px  -16px;}
.ui-icos-bell2           { background-position: -96px  -16px;}
.ui-icos-beta            { background-position: -112px -16px;}
.ui-icos-bigbrush        { background-position: -128px -16px;}
.ui-icos-blackberry      { background-position: -144px -16px;}
.ui-icos-block           { background-position: -160px -16px;}
.ui-icos-blocks          { background-position: -176px -16px;}
.ui-icos-bluetooth       { background-position: -192px -16px;}
.ui-icos-bluetooth2      { background-position: -208px -16px;}
.ui-icos-bluray          { background-position: -224px -16px;}
.ui-icos-books           { background-position: -240px -16px;}

.ui-icos-cat             { background-position: 0      -32px;}
.ui-icos-check           { background-position: -16px  -32px;}
.ui-icos-bullseye        { background-position: -32px  -32px;}
.ui-icos-buzz            { background-position: -48px  -32px;}
.ui-icos-calc            { background-position: -64px  -32px;}
.ui-icos-camera          { background-position: -80px  -32px;}
.ui-icos-camera2         { background-position: -96px  -32px;}
.ui-icos-camera3         { background-position: -112px -32px;}
.ui-icos-car             { background-position: -128px -32px;}
.ui-icos-cart            { background-position: -144px -32px;}
.ui-icos-cart2           { background-position: -160px -32px;}
.ui-icos-cart3           { background-position: -176px -32px;}
.ui-icos-cart4           { background-position: -192px -32px;}
.ui-icos-cashreg         { background-position: -208px -32px;}
.ui-icos-cassette        { background-position: -224px -32px;}
.ui-icos-cd              { background-position: -240px -32px;}

.ui-icos-chart           { background-position: 0      -48px;}
.ui-icos-chart2          { background-position: -16px  -48px;}
.ui-icos-chart3          { background-position: -32px  -48px;}
.ui-icos-chart4          { background-position: -48px  -48px;}
.ui-icos-chart5          { background-position: -64px  -48px;}
.ui-icos-chart6          { background-position: -80px  -48px;}
.ui-icos-chart7          { background-position: -96px  -48px;}
.ui-icos-chart8          { background-position: -112px -48px;}
.ui-icos-chrome          { background-position: -128px -48px;}
.ui-icos-clipboard       { background-position: -145px -50px;}
.ui-icos-clock           { background-position: -160px -48px;}
.ui-icos-cloud           { background-position: -176px -48px;}
.ui-icos-cloud-download  { background-position: -192px -48px;}
.ui-icos-cloud-upload    { background-position: -208px -48px;}
.ui-icos-cog             { background-position: -224px -48px;}
.ui-icos-cog2            { background-position: -240px -48px;}

.ui-icos-cog4            { background-position: 0      -64px;}
.ui-icos-cog3            { background-position: -16px  -64px;}
.ui-icos-comment         { background-position: -32px  -64px;}
.ui-icos-companies       { background-position: -48px  -64px;}
.ui-icos-copypaste       { background-position: -65px  -65px;}
.ui-icos-coverflow       { background-position: -80px  -64px;}
.ui-icos-create          { background-position: -96px  -64px;}
.ui-icos-create2         { background-position: -112px -64px;}
.ui-icos-cross           { background-position: -128px -64px;}
.ui-icos-cup             { background-position: -144px -64px;}
.ui-icos-dates           { background-position: -160px -64px;}
.ui-icos-dcalendar       { background-position: -176px -64px;}
.ui-icos-delicious       { background-position: -192px -64px;}
.ui-icos-dialog          { background-position: -208px -64px;}
.ui-icos-digg            { background-position: -224px -64px;}
.ui-icos-digg2           { background-position: -240px -64px;}

.ui-icos-document        { background-position: 0      -80px;}
.ui-icos-documents       { background-position: -16px  -80px;}
.ui-icos-download        { background-position: -32px  -80px;}
.ui-icos-download2       { background-position: -48px  -80px;}
.ui-icos-download3       { background-position: -64px  -80px;}
.ui-icos-downloadto      { background-position: -80px  -80px;}
.ui-icos-dribbble        { background-position: -96px  -80px;}
.ui-icos-drive           { background-position: -112px -80px;}
.ui-icos-dropbox         { background-position: -128px -80px;}
.ui-icos-electroplug     { background-position: -144px -80px;}
.ui-icos-email           { background-position: -160px -80px;}
.ui-icos-excel           { background-position: -176px -80px;}
.ui-icos-exit            { background-position: -192px -80px;}
.ui-icos-expression      { background-position: -208px -80px;}
.ui-icos-eyedropper      { background-position: -224px -80px;}
.ui-icos-fax             { background-position: -240px -80px;}

.ui-icos-female          { background-position: 0      -96px;}
.ui-icos-ff              { background-position: -16px  -96px;}
.ui-icos-files           { background-position: -32px  -96px;}
.ui-icos-filmstrip       { background-position: -48px  -96px;}
.ui-icos-filmstrip2      { background-position: -64px  -96px;}
.ui-icos-finish          { background-position: -80px  -96px;}
.ui-icos-flag            { background-position: -96px  -96px;}
.ui-icos-flag2           { background-position: -112px -96px;}
.ui-icos-folder          { background-position: -128px -96px;}
.ui-icos-footprints      { background-position: -144px -96px;}
.ui-icos-fountain-pen    { background-position: -160px -96px;}
.ui-icos-frames          { background-position: -176px -96px;}
.ui-icos-full2           { background-position: -192px -96px;}
.ui-icos-full3           { background-position: -208px -96px;}
.ui-icos-full4           { background-position: -224px -96px;}
.ui-icos-full5           { background-position: -240px -96px;}

.ui-icos-fullscreen{ background-position: 0      -112px;}
.ui-icos-fullscreen2{ background-position: -16px  -112px;}
.ui-icos-globe{ background-position: -32px  -112px;}
.ui-icos-google-maps{ background-position: -48px  -112px;}
.ui-icos-graph{ background-position: -64px  -112px;}
.ui-icos-hd{ background-position: -80px  -112px;}
.ui-icos-hd2{ background-position: -96px  -112px;}
.ui-icos-hd3{ background-position: -112px -112px;}
.ui-icos-headphones{ background-position: -128px -112px;}
.ui-icos-heart{ background-position: -144px -112px;}
.ui-icos-help{ background-position: -160px -112px;}
.ui-icos-home{ background-position: -176px -112px;}
.ui-icos-home2{ background-position: -192px -112px;}
.ui-icos-ichat{ background-position: -208px -112px;}
.ui-icos-iclassic{ background-position: -224px -112px;}
.ui-icos-imac{ background-position: -240px -112px;}

.ui-icos-images{ background-position: 0      -128px;}
.ui-icos-images2{ background-position: -16px  -128px;}
.ui-icos-images3{ background-position: -32px  -128px;}
.ui-icos-images4{ background-position: -48px  -128px;}
.ui-icos-inano{ background-position: -64px  -128px;}
.ui-icos-inbox{ background-position: -80px  -128px;}
.ui-icos-inbox2{ background-position: -96px  -128px;}
.ui-icos-info{ background-position: -112px -128px;}
.ui-icos-ipad{ background-position: -128px -128px;}
.ui-icos-iphone{ background-position: -144px -128px;}
.ui-icos-joomla{ background-position: -160px -128px;}
.ui-icos-laptop{ background-position: -176px -128px;}
.ui-icos-lastfm{ background-position: -192px -128px;}
.ui-icos-like{ background-position: -208px -128px;}
.ui-icos-link{ background-position: -224px -128px;}
.ui-icos-link2{ background-position: -240px -128px;}

.ui-icos-linux{ background-position: 0      -144px;}
.ui-icos-list{ background-position: -16px  -144px;}
.ui-icos-list2{ background-position: -32px  -144px;}
.ui-icos-list3{ background-position: -48px  -144px;}
.ui-icos-listimg{ background-position: -64px  -144px;}
.ui-icos-loading{ background-position: -80px  -144px;}
.ui-icos-locked{ background-position: -96px  -144px;}
.ui-icos-logoff{ background-position: -112px -144px;}
.ui-icos-macos{ background-position: -128px -144px;}
.ui-icos-magic-mouse{ background-position: -144px -144px;}
.ui-icos-male{ background-position: -160px -144px;}
.ui-icos-map{ background-position: -176px -144px;}
.ui-icos-marker{ background-position: -192px -144px;}
.ui-icos-mcalendar{ background-position: -208px -144px;}
.ui-icos-medicase{ background-position: -224px -144px;}
.ui-icos-megaphone{ background-position: -240px -144px;}

.ui-icos-mic{ background-position: 0      -160px;}
.ui-icos-mighty-mouse    { background-position: -16px  -160px;}
.ui-icos-mobile          { background-position: -32px  -160px;}
.ui-icos-moby{ background-position: -48px  -160px;}
.ui-icos-money{ background-position: -64px  -160px;}
.ui-icos-money2{ background-position: -80px  -160px;}
.ui-icos-money3{ background-position: -96px  -160px;}
.ui-icos-monitor{ background-position: -112px -160px;}
.ui-icos-music-symbol{ background-position: -128px -160px;}
.ui-icos-myspace{ background-position: -144px -160px;}
.ui-icos-notebook{ background-position: -160px -160px;}
.ui-icos-outbox{ background-position: -176px -160px;}
.ui-icos-pacman{ background-position: -192px -160px;}
.ui-icos-paintbrush{ background-position: -208px -160px;}
.ui-icos-pants{ background-position: -224px -160px;}
.ui-icos-paperclip{ background-position: -240px -160px;}

.ui-icos-paypal{ background-position: 0      -176px;}
.ui-icos-paypal2{ background-position: -16px  -176px;}
.ui-icos-paypal3{ background-position: -32px  -176px;}
.ui-icos-pdf{ background-position: -48px  -176px;}
.ui-icos-pencil{ background-position: -64px  -176px;}
.ui-icos-phone{ background-position: -80px  -176px;}
.ui-icos-phone3{ background-position: -96px  -176px;}
.ui-icos-phonehook{ background-position: -112px -176px;}
.ui-icos-photos{ background-position: -128px -176px;}
.ui-icos-piggybank{ background-position: -144px -176px;}
.ui-icos-planecase{ background-position: -160px -176px;}
.ui-icos-play{ background-position: -176px -176px;}
.ui-icos-play2{ background-position: -192px -176px;}
.ui-icos-plixi{ background-position: -208px -176px;}
.ui-icos-postcard{ background-position: -224px -176px;}
.ui-icos-power{ background-position: -240px -176px;}

.ui-icos-powerpoint{ background-position: 0      -192px;}
.ui-icos-preview{ background-position: -16px  -192px;}
.ui-icos-pricetag{ background-position: -32px  -192px;}
.ui-icos-pricetag2{ background-position: -48px  -192px;}
.ui-icos-printer{ background-position: -64px  -192px;}
.ui-icos-purse{ background-position: -80px  -192px;}
.ui-icos-radio{ background-position: -96px  -192px;}
.ui-icos-record{ background-position: -112px -192px;}
.ui-icos-recycle{ background-position: -128px -192px;}
.ui-icos-refresh{ background-position: -144px -192px;}
.ui-icos-refresh2{ background-position: -160px -192px;}
.ui-icos-refresh3{ background-position: -176px -192px;}
.ui-icos-refresh4{ background-position: -192px -192px;}
.ui-icos-repeat{ background-position: -208px -192px;}
.ui-icos-robot{ background-position: -224px -192px;}
.ui-icos-rss{ background-position: -240px -192px;}

.ui-icos-ruler           { background-position: 0      -208px;}
.ui-icos-ruler2          { background-position: -16px  -208px;}
.ui-icos-running         { background-position: -32px  -208px;}
.ui-icos-safari          { background-position: -48px  -208px;}
.ui-icos-scissors        { background-position: -64px  -208px;}
.ui-icos-sd              { background-position: -80px  -208px;}
.ui-icos-sd2             { background-position: -96px  -208px;}
.ui-icos-sd3             { background-position: -112px -208px;}
.ui-icos-search          { background-position: -128px -208px;}
.ui-icos-settings        { background-position: -144px -208px;}
.ui-icos-settings2       { background-position: -160px -208px;}
.ui-icos-shirt           { background-position: -176px -208px;}
.ui-icos-shoppingbag     { background-position: -192px -208px;}
.ui-icos-shuffle         { background-position: -208px -208px;}
.ui-icos-signal          { background-position: -224px -208px;}
.ui-icos-sign-post       { background-position: -240px -208px;}

.ui-icos-skype           { background-position: 0      -224px;}
.ui-icos-smallbrush      { background-position: -16px  -224px;}
.ui-icos-socks           { background-position: -32px  -224px;}
.ui-icos-sound           { background-position: -48px  -224px;}
.ui-icos-speech-bubble   { background-position: -64px  -224px;}
.ui-icos-speech-bubble2  { background-position: -80px  -224px;}
.ui-icos-speech-bubbles  { background-position: -96px  -224px;}
.ui-icos-speech-bubbles2 { background-position: -112px -224px;}
.ui-icos-stand           { background-position: -128px -224px;}
.ui-icos-star            { background-position: -144px -224px;}
.ui-icos-stats           { background-position: -160px -224px;}
.ui-icos-stop            { background-position: -176px -224px;}

.ui-icos-stymbleupon     { background-position: -208px -224px;}
.ui-icos-suitcase        { background-position: -224px -224px;}
.ui-icos-switcher        { background-position: -240px -224px;}

.ui-icos-tag             { background-position: 0      -240px;}
.ui-icos-tags            { background-position: -16px  -240px;}
.ui-icos-timer           { background-position: -32px  -240px;}
.ui-icos-transfer        { background-position: -48px  -240px;}
.ui-icos-trash           { background-position: -64px  -240px;}
.ui-icos-travelcase      { background-position: -80px  -240px;}
.ui-icos-tree            { background-position: -96px  -240px;}
.ui-icos-trolly          { background-position: -112px -240px;}
.ui-icos-truck           { background-position: -128px -240px;}
.ui-icos-tumbler         { background-position: -144px -240px;}
.ui-icos-tv              { background-position: -160px -240px;}
.ui-icos-uc              { background-position: -176px -240px;}
.ui-icos-umbrella        { background-position: -192px -240px;}
.ui-icos-unlocked        { background-position: -208px -240px;}
.ui-icos-upload          { background-position: -224px -240px;}
.ui-icos-user            { background-position: -240px -240px;}

.ui-icos-user2           { background-position: 0      -256px;}
.ui-icos-users           { background-position: -16px  -256px;}
.ui-icos-users2          { background-position: -32px  -256px;}
.ui-icos-vault           { background-position: -48px  -256px;}
.ui-icos-vbar            { background-position: -64px  -256px;}
.ui-icos-wired-mouse     { background-position: -80px  -256px;}
.ui-icos-youtube         { background-position: -96px  -256px;}
.ui-icos-zipfile         { background-position: -112px -256px;}
.ui-icos-zipfiles        { background-position: -128px -256px;}
.ui-icos-vcard           { background-position: -144px -256px;}
.ui-icos-view            { background-position: -160px -256px;}
.ui-icos-vimeo           { background-position: -176px -256px;}
.ui-icos-walking         { background-position: -192px -256px;}
.ui-icos-wifi            { background-position: -208px -256px;}
.ui-icos-wifi2           { background-position: -224px -256px;}
.ui-icos-windows         { background-position: -240px -256px;}